@import url(https://fonts.googleapis.com/css?family=Merriweather);
@import url(https://fonts.googleapis.com/css?family=Oxygen);
@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:700);

$size : 6em;
$entryInfo : "Oxygen", serif;
$entryBody : "Merriweather", serif;
$listTitleFont : "Roboto Condensed", serif;

body {
  background-color: #D9BAD8;
}

h1 {
  font-family: $listTitleFont;
  font-size: $size*.75;
  letter-spacing: $size*.01;
  margin-left: 7em;
}

h5{
  font-family: $listTitleFont;
  font-size: $size*.33;
}

a {
  color: black;
}

.titleBar {
  margin-top: $size*.25;
}


.entryTitleDate {
  font-family: $entryInfo;
  font-size: $size*.4;
}

.entryBody{
  font-family: $entryBody;
  font-size: $size*.19;
}

.prevEntryList {
  border-radius: 10px;
  max-width: 250px;
  margin-left: $size*-1.4;
  font-family: $entryBody;
  font-size: $size*.18;
  background-color: #ebdbeb;
}

.newEntryBtn{
  margin-top: 10px;
  margin-bottom: 10px;
  // margin-left: $size*.4;
}

.entryContainer{
margin-left: $size*1.333333;
}

#entryDisplay {
  background-color: #ebdbeb;
  max-width: 600px;
  border: 1px solid black;
  border-radius: 10px;
  margin-left: $size*1.8;
  padding: $size*.33;
}

#newEntryForm{
  font-family: $listTitleFont;
  font-size: $size*.2;
  max-width: 85%;
}
